
/* Tablet */
@media only screen and (min-width: 991px) {
  
  .img-responsive.ismax{
    height: 240px !important;
  }

}

.img-responsive.ismax{
    background-repeat: no-repeat!important;
    /* background-size: cover; */
    background-position: center !important;
    position: relative!important;
    
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
p.on-content{
  /* white-space: nowrap;  */
  height: 80px; 
  overflow: hidden;
  text-overflow:ellipsis;
}
h3.on-title{
  white-space: nowrap; 
  max-height: 30px !important;
  min-height: 30px !important;
  height: 30px; 
  overflow: hidden;
  text-overflow:ellipsis;
} 

center{
  text-align: center !important;
    
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  
}
